<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
      <div id=" buttons">
          <center>
            <%= link_to 'Show', movie %>
            <% if current_user %>
            <%= link_to 'Edit', edit_movie_path(movie) %>
            <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?'} %>
            <% end %>
          </center>
      </div>  
      <br>      
    </div>
  <% end %>
</div>